# virtual envs
.venv

# Python cache
__pycache__/
*.py[cod]
*.pyo

# environment variables
.env

# node modules
node_modules

# vscode settings
.vscode
.vscode-test
vscode-copilot-agent\.vscode


vscode-copilot-agent\out
vscode-copilot-agent\dist
vscode-copilot-agent\.vscode-test
*.vsix
